@model WebApp.ViewModels.ProgramacaoConsumoViewModel

<section class="card-body border-top pt-3">
    <table class="table table-borderless">
        <thead>
            <tr>
                <th colspan="2" class="text-center"><h5 class="font-weight-bold text-sapphire">Informação do Item @Model.NumeroItem</h5></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span class="text-muted"><strong class="font-weight-bold text-sapphire">@Html.DisplayNameFor(model => model.QuantidadeDisponivel)</strong>: @Model.QuantidadeDisponivel</span>
                    <input type="hidden" asp-for="QuantidadeDisponivel" />
                </td>
            </tr>
            <tr>
                <td>
                    <span class="text-muted"><strong class="font-weight-bold text-sapphire">@Html.DisplayNameFor(model => model.Descricao) do Item</strong>: @Model.Descricao</span>
                </td>
            </tr>
        </tbody>
    </table>
    <hr />
    @if (Model.ParticipanteItemViewModel.Any())
    {
        <br />
        <div class="col-md-12 text-center"><h5 class="font-weight-bold text-sapphire">Participantes do Item @Model.NumeroItem</h5></div>
        @foreach (var participante in Model.ParticipanteItemViewModel)
        {
            var simOUnao = participante.OrgaoEx.Equals(true) ? "SIM" : "NÃO";
            <br />
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th colspan="3" class="font-weight-bold text-sapphire">@participante.NomeUnidadeAdministrativa - @participante.Sigla</th>
                    </tr>
                </thead>
                <tbody class="text-justify">
                    <tr>
                        <td>
                            <span class="font-weight-bold text-sapphire">Unidade Federativa</span>
                            <div class="mt-2 text-muted">@participante.UnidadeDaFederacao</div>
                        </td>
                        <td>
                            <span class="font-weight-bold text-sapphire">Esfera Administrativa</span>
                            <div class="mt-2 text-muted">@participante.EsferaAdministrativa</div>
                        </td>
                        <td>
                            <span class="font-weight-bold text-sapphire">Admin. Direta / Indireta do Governo RO?</span>
                            <div class="mt-2 text-muted">@simOUnao</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    }
</section>
<hr />