@using WebApp.ViewModels;
@model ICollection<ItemViewModel>

@if (Model.Any())
{
    @foreach (var item in Model)
    {
        <table class="table table-bordered">
            <thead class="text-center">
                <tr>
                    <th colspan="5" class="font-weight-bold text-sapphire">Ata @item.CodigoAta/@item.AnoAta</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                    <td>
                        <span class="font-weight-bold text-sapphire">N° item</span>
                        <div class="mt-2 text-muted">@item.CodigoItem</div>
                    </td>
                    <td>
                        <span class="font-weight-bold text-sapphire">Descrição</span>
                        <div class="mt-2 text-muted text-justify">@item.Descricao</div>
                    </td>
                    <td>
                        <span class="font-weight-bold text-sapphire">Vigência</span>
                        <div class="mt-2 text-muted">@item.DataVirgencia.ToString("dd/MM/yyyy")</div>
                    </td>
                    <td>
                        <span class="font-weight-bold text-sapphire">Consumo Estimado</span>
                        <div class="mt-2 text-muted">@item.ParticipanteItems.Select(p => p.ProgramacaoConsumoViewModel.ConsumoEstimado).FirstOrDefault()</div>
                    </td>
                    <td>
                        <span class="font-weight-bold text-sapphire">Saldo</span>
                        <div class="mt-2 text-muted">@item.ParticipanteItems.Select(p => p.ProgramacaoConsumoViewModel.Saldo).FirstOrDefault()</div>
                    </td>
                </tr>
                <tr class="text-center">
                    <th colspan="5">
                        <span class="font-weight-bold text-sapphire">Fornecimentos</span>
                    </th>
                </tr>
                @foreach (var participante in item.ParticipanteItems)
                {
                    foreach (var fornecimento in participante.ProgramacaoConsumoViewModel.Fornecimentos)
                    {
                        <tr>
                            <td colspan="5">
                                <div class="mt-2 text-muted"> <span class="font-weight-bold text-sapphire">@participante.UnidadeAdministrativaViewModel.NomeUnidadeAdministrativa - @participante.UnidadeAdministrativaViewModel.Sigla: </span>@fornecimento.Consumo</div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}
else
{
    <div class="not-found">
        <img src="/img/not-found.svg" />
        <div>
            <span>Sem Resultados</span>
            <p>Nenhuma Programação de Consumo Encontrada</p>
        </div>
    </div>
}