@model IEnumerable<ItemViewModel>

@{
    var setColor = "";
}

<table id="ListItemTable" class="table table-borderless table-striped">
    <thead class="text-sapphire">
        <tr>
            <th>
                N° Item
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoMercado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoRegistrado)
            </th>
            <th>Ativo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            setColor = item.Ativo == true ? "table-success" : "table-danger";
            <tr class="text-justify @setColor">
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoItem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    R$ @Html.DisplayFor(modelItem => item.PrecoMercado)
                </td>
                <td>
                    R$ @Html.DisplayFor(modelItem => item.PrecoRegistrado)
                </td>
                <td data-ItemId="@item.Id">
                    @if (item.Ativo)
                    {
                        <button type="button" class="btn checkBoxActiveInactive btn-outline-success" data-item="@item.CodigoItem" data-value="@item.Ativo">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-square" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                            </svg>
                        </button>
                    }
                    else
                    {
                        <button type="button" class="btn checkBoxActiveInactive btn-outline-danger" data-item="@item.CodigoItem" data-value="@item.Ativo">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z" />
                            </svg>
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>