@model IEnumerable<ItemViewModel>

<div class="text-center">
    <h5 class="text-sapphire"><strong>Selecione o item da ata que deseja realinhar o preço</strong></h5>
</div>
<table id="ListItemTable" class="table table-borderless table-striped">
    <thead class="text-sapphire">
        <tr>
            <th>
                N° Item
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoMercado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoRegistrado)
            </th>
            <th>Dif (%)</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var dif = (item.PrecoMercado - item.PrecoRegistrado) * 100 / item.PrecoMercado;
            <tr class="text-justify table-hover">
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoItem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    R$ @Html.DisplayFor(modelItem => item.PrecoMercado)
                </td>
                <td>
                    R$ @Html.DisplayFor(modelItem => item.PrecoRegistrado)
                </td>
                <td>
                    @dif.ToString("F2")%
                </td>
                <td>
                    <button type="button" class="btn btn-outline-info" data-ItemId="@item.Id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>