@model AtaViewModel

<div class="border-bottom border-right border-left">
    <div class="py-4 text-center">
        <div class="text-center mb-3">
            <h5 class="font-weight-bold text-sapphire">Informações da Ata @Model.CodigoAta/@Model.AnoAta</h5>
        </div>
        <div class="d-flex justify-content-center">
            <div class="mt-4 col-md-3">
                <span class="font-weight-bold text-sapphire">@Html.DisplayNameFor(model => model.NumeroProcesso)</span>
                <div class="mt-2 text-muted">@Html.DisplayFor(model => model.NumeroProcesso)</div>
            </div>
            <div class="mt-4 col-md-3">
                <span class="font-weight-bold text-sapphire"> @Html.DisplayNameFor(model => model.TipoPregao)</span>
                <div class="mt-2 text-muted">@Html.DisplayFor(model => model.TipoPregao)</div>
            </div>
            <div class="mt-4 col-md-3">
                <span class="font-weight-bold text-sapphire">@Html.DisplayNameFor(model => model.NumeroPregao)</span>
                <div class="mt-2 text-muted"> @Html.DisplayFor(model => model.NumeroPregao)</div>
            </div>
            <div class="mt-4 col-md-3">
                <span class="font-weight-bold text-sapphire">@Html.DisplayNameFor(model => model.AnoPregao)</span>
                <div class="mt-2 text-muted">@Html.DisplayFor(model => model.AnoPregao)</div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div class="mt-5 col-md-3">
                <span class="font-weight-bold text-sapphire">@Html.DisplayNameFor(model => model.DataHomologacao)</span>
                <div class="mt-2 text-muted">@Model.DataHomologacao.ToString("dd/MM/yyy")</div>
            </div>
            <div class="mt-5 col-md-3">
                <span class="font-weight-bold text-sapphire">@Html.DisplayNameFor(model => model.DataPublicacaoDOE)</span>
                <div class="mt-2 text-muted">@Model.DataPublicacaoDOE.ToString("dd/MM/yyy")</div>
            </div>
            <div class="mt-5 col-md-3">
                <span class="font-weight-bold text-sapphire">@Html.DisplayNameFor(model => model.DataVencimentoAta)</span>
                <div class="mt-2 text-muted">@Model.DataVencimentoAta.ToString("dd/MM/yyy")</div>
            </div>
            <div class="mt-5 col-md-3">
                <span class="font-weight-bold text-sapphire">@Html.DisplayNameFor(model => model.DataCadastro)</span>
                <div class="mt-2 text-muted">@Model.DataCadastro.ToString("dd/MM/yyy")</div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="mt-5 col-md-3">
                <span class="font-weight-bold text-sapphire">@Html.DisplayNameFor(model => model.ObjetoResumido)</span>
                <div class="mt-2 text-muted">@Html.DisplayFor(model => model.ObjetoResumido)</div>
            </div>
            <div class="mt-5 col-md-3">
                <span class="font-weight-bold text-sapphire">@Html.DisplayNameFor(model => model.Observacao)</span>
                <div class="mt-2 text-muted">@Html.DisplayFor(model => model.Observacao)</div>
            </div>
        </div>
    </div>
</div>