@using System.Text.RegularExpressions
@model AtaViewModel

@{
    var setClass = "";
    int contItemOk = 0;
    int contItenPend = 0;
}

<section class="border-bottom border-right border-left">
    <div class="py-4 text-center">
        <div class="text-center mb-3">
            <h5 class="font-weight-bold text-sapphire">Informações da Ata @Model.CodigoAta/@Model.AnoAta</h5>
        </div>
        <div class="d-flex justify-content-center">
            <div class="mt-4 col-md-3">
                <span class="font-weight-bold text-sapphire">@Html.DisplayNameFor(model => model.NumeroProcesso)</span>
                <div class="mt-2 text-muted">@Html.DisplayFor(model => model.NumeroProcesso)</div>
            </div>
            <div class="mt-4 col-md-3">
                <span class="font-weight-bold text-sapphire"> @Html.DisplayNameFor(model => model.TipoPregao)</span>
                <div class="mt-2 text-muted">@Html.DisplayFor(model => model.TipoPregao)</div>
            </div>
            <div class="mt-4 col-md-3">
                <span class="font-weight-bold text-sapphire">@Html.DisplayNameFor(model => model.NumeroPregao)</span>
                <div class="mt-2 text-muted"> @Html.DisplayFor(model => model.NumeroPregao)</div>
            </div>
            <div class="mt-4 col-md-3">
                <span class="font-weight-bold text-sapphire">@Html.DisplayNameFor(model => model.AnoPregao)</span>
                <div class="mt-2 text-muted">@Html.DisplayFor(model => model.AnoPregao)</div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div class="mt-5 col-md-3">
                <span class="font-weight-bold text-sapphire">@Html.DisplayNameFor(model => model.DataHomologacao)</span>
                <div class="mt-2 text-muted">@Model.DataHomologacao.ToString("dd/MM/yyy")</div>
            </div>
            <div class="mt-5 col-md-3">
                <span class="font-weight-bold text-sapphire">@Html.DisplayNameFor(model => model.DataPublicacaoDOE)</span>
                <div class="mt-2 text-muted">@Model.DataPublicacaoDOE.ToString("dd/MM/yyy")</div>
            </div>
            <div class="mt-5 col-md-3">
                <span class="font-weight-bold text-sapphire">@Html.DisplayNameFor(model => model.DataVencimentoAta)</span>
                <div class="mt-2 text-muted">@Model.DataVencimentoAta.ToString("dd/MM/yyy")</div>
            </div>
            <div class="mt-5 col-md-3">
                <span class="font-weight-bold text-sapphire">@Html.DisplayNameFor(model => model.DataCadastro)</span>
                <div class="mt-2 text-muted">@Model.DataCadastro.ToString("dd/MM/yyy")</div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="mt-5 col-md-3">
                <span class="font-weight-bold text-sapphire">@Html.DisplayNameFor(model => model.ObjetoResumido)</span>
                <div class="mt-2 text-muted">@Html.DisplayFor(model => model.ObjetoResumido)</div>
            </div>
            <div class="mt-5 col-md-3">
                <span class="font-weight-bold text-sapphire">@Html.DisplayNameFor(model => model.Observacao)</span>
                <div class="mt-2 text-muted">@Html.DisplayFor(model => model.Observacao)</div>
            </div>
        </div>
    </div>

    @if (Model.ItensViewModel.Count() > 0)
    {
        @foreach (var item in Model.ItensViewModel)
        {
            setClass = item.QuantidadeDisponivel > 0 || item.ItemDetentora == null ? "table-danger" : "table-success";
            contItenPend += setClass == "table-danger" ? 1 : +0;
            contItemOk += setClass == "table-success" ? 1 : +0;
            <hr />
            <br />
            <table class="table table-bordered text-center @setClass">
                <thead>
                    <tr>
                        <th colspan="6" class="font-weight-bold text-sapphire"> Item N° @item.CodigoItem</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            <span class="font-weight-bold text-sapphire">Preço Mercado</span>
                            <div class="mt-2 text-muted">R$ @item.PrecoMercado</div>
                        </th>
                        <td>
                            <span class="font-weight-bold text-sapphire">Preço Registrado</span>
                            <div class="mt-2 text-muted">R$ @item.PrecoRegistrado</div>
                        </td>
                        <td>
                            <span class="font-weight-bold text-sapphire">Quantidade</span>
                            <div class="mt-2 text-muted">@item.Quantidade</div>
                        </td>
                        <td>
                            <span class="font-weight-bold text-sapphire">Quant. Disponível</span>
                            <div class="mt-2 text-muted">@item.QuantidadeDisponivel</div>
                        </td>
                        <td>
                            <span class="font-weight-bold text-sapphire">Quant. em Uso</span>
                            <div class="mt-2 text-muted">@item.QuantidadeUso</div>
                        </td>
                        <td>
                            <span class="font-weight-bold text-sapphire">Detentora</span>
                            @if (item.ItemDetentora != null)
                            {
                                <div class="mt-2 text-muted">@item.ItemDetentora.Detentora.RazaoSocial</div>
                            }
                            else
                            {
                                <div class="mt-2 text-muted">Detentora não registrada</div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <span class="font-weight-bold text-sapphire">Descrição</span>
                            <div class="mt-2 text-muted">@item.Descricao</div>
                        </td>
                    </tr>

                </tbody>
            </table>
        }
        <hr />
        <div class="d-flex justify-content-center mt-3 text-center font-weight-bold">
            <div class="col-md-2 alert-danger mr-3 p-2">
                <div><span>Itens Pendêntes</span></div>
                <div>@contItenPend</div>
            </div>
            <div class="col-md-2 alert-success p-2">
                <div> <span>Itens Ok</span></div>
                <div>@contItemOk</div>
            </div>
        </div>
    }

    <div class="d-flex justify-content-center mt-4 mb-3">
        <button id="btnPublicarAta" class="btn btn-primary" data-codeAta="@Model.CodigoAta" data-yearAta="@Model.AnoAta">Publicar Ata @Model.CodigoAta/@Model.AnoAta</button>
    </div>
</section>
