@model IEnumerable<WebApp.ViewModels.ItemDetentoraViewModel>

@if (Model.Any())
{
    <table class="table table-borderless table-striped py-4 listDetentoraTable">
        <thead class="text-sapphire">
            <tr>
                <th>
                    N° Item
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Detentora.Cnpj)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Detentora.RazaoSocial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Detentora.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Detentora.Telefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Detentora.Pessoa)
                </th>
            </tr>
        </thead>
        <tbody class="text-muted">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item.CodigoItem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Detentora.Cnpj)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Detentora.RazaoSocial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Detentora.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Detentora.Telefone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Detentora.Pessoa)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}else{
    <div class="not-found">
        <img src="/img/not-found.svg" />
        <div>
            <span>Sem Resultados</span>
            <p>Nenhuma Detentora Registrado</p>
        </div>
    </div>
}