@model IEnumerable<WebApp.ViewModels.ParticipanteItemViewModel>

@if (Model.Any())
{
    <table id="unidadeAdministrativaTable" class="table table-borderless py-4">
        <thead class="text-sapphire">
            <tr>
                <th>
                    N° Item
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnidadeAdministrativaViewModel.NomeUnidadeAdministrativa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnidadeAdministrativaViewModel.Sigla)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnidadeAdministrativaViewModel.EsferaAdministrativa)
                </th>
            </tr>
        </thead>
        <tbody class="text-muted">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemViewModel.CodigoItem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnidadeAdministrativaViewModel.NomeUnidadeAdministrativa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnidadeAdministrativaViewModel.Sigla)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnidadeAdministrativaViewModel.EsferaAdministrativa)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="not-found">
        <img src="/img/not-found.svg" />
        <div>
            <span>Sem Resultados</span>
            <p>Nenhuma Unidade Administrativa Registrada</p>
        </div>
    </div>
}