@using System.Text.RegularExpressions
@model AtaViewModel

<section class="border-bottom border-right border-left">
    <table class="table table-borderless text-center">
        <thead>
            <tr>
                <th colspan="4" class="font-weight-bold text-sapphire">Informações da Ata @Model.CodigoAta/@Model.AnoAta</th>
            </tr>
        </thead>
        <tbody class="text-justify">
            <tr>
                <td>
                    <span class="text-sapphire font-weight-bold">@Html.DisplayNameFor(model => model.NumeroProcesso)</span>
                    <div class="mt-2 text-muted">@Html.DisplayFor(model => model.NumeroProcesso)</div>
                </td>
                <td>
                    <span class="font-weight-bold text-sapphire"> @Html.DisplayNameFor(model => model.TipoPregao)</span>
                    <div class="mt-2 text-muted">@Html.DisplayFor(model => model.TipoPregao)</div>
                </td>
                <td>
                    <span class="font-weight-bold text-sapphire">@Html.DisplayNameFor(model => model.NumeroPregao)</span>
                    <div class="mt-2 text-muted"> @Html.DisplayFor(model => model.NumeroPregao)</div>
                <td>
                    <span class="font-weight-bold text-sapphire">@Html.DisplayNameFor(model => model.AnoPregao)</span>
                    <div class="mt-2 text-muted">@Html.DisplayFor(model => model.AnoPregao)</div>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="font-weight-bold text-sapphire">@Html.DisplayNameFor(model => model.DataHomologacao)</span>
                    <div class="mt-2 text-muted">@Model.DataHomologacao.ToString("dd/MM/yyy")</div>
                </td>
                <td>
                    <span class="font-weight-bold text-sapphire">@Html.DisplayNameFor(model => model.DataPublicacaoDOE)</span>
                    <div class="mt-2 text-muted">@Model.DataPublicacaoDOE.ToString("dd/MM/yyy")</div>
                </td>

                <td>
                    <span class="font-weight-bold text-sapphire">@Html.DisplayNameFor(model => model.DataVencimentoAta)</span>
                    <div class="mt-2 text-muted">@Model.DataVencimentoAta.ToString("dd/MM/yyy")</div>
                </td>
                <td>
                    <span class="font-weight-bold text-sapphire">@Html.DisplayNameFor(model => model.DataCadastro)</span>
                    <div class="mt-2 text-muted">@Model.DataCadastro.ToString("dd/MM/yyy")</div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="font-weight-bold text-sapphire">@Html.DisplayNameFor(model => model.ObjetoResumido)</span>
                    <div class="mt-2 text-muted text-justify">@Html.DisplayFor(model => model.ObjetoResumido)</div>
                </td>
                <td colspan="2">
                    <span class="font-weight-bold text-sapphire">@Html.DisplayNameFor(model => model.Observacao)</span>
                    <div class="mt-2 text-muted">@Html.DisplayFor(model => model.Observacao)</div>
                </td>
            </tr>
        </tbody>
    </table>

    @if (Model.ItensViewModel.Count() > 0)
    {
        @foreach (var item in Model.ItensViewModel)
        {
            var valorTotal = item.Quantidade * item.PrecoRegistrado;
            <hr />
            <br />
            <table class="table table-borderless text-center table-active">
                <thead>
                    <tr>
                        <th colspan="7" class="font-weight-bold text-sapphire"> Item N° @item.CodigoItem</th>
                    </tr>
                    <tr>
                        <th colspan="7" class="font-weight-bold text-sapphire">CNPJ: @item.ItemDetentora.Detentora.Cnpj - @item.ItemDetentora.Detentora.RazaoSocial</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span class="font-weight-bold text-sapphire">Marca</span>
                            <div class="mt-2 text-muted">@item.Marca)</div>
                        </td>
                        <td>
                            <span class="font-weight-bold text-sapphire">Tipo</span>
                            <div class="mt-2 text-muted">@item.Tipo</div>
                        </td>
                        <td>
                            <span class="font-weight-bold text-sapphire">Quantidade</span>
                            <div class="mt-2 text-muted">@item.Quantidade</div>
                        </td>
                        <td>
                            <span class="font-weight-bold text-sapphire">Quantidade Disponível</span>
                            <div class="mt-2 text-muted">@item.QuantidadeDisponivel</div>
                        </td>
                        <td>
                            <span class="font-weight-bold text-sapphire">Preço Mercado</span>
                            <div class="mt-2 text-muted">@String.Format("{0:C}", item.PrecoMercado)</div>
                        </td>
                        <td>
                            <span class="font-weight-bold text-sapphire">Preço Unit. Registrado</span>
                            <div class="mt-2 text-muted">@String.Format("{0:C}", item.PrecoRegistrado)</div>
                        </td>
                        <td>
                            <span class="font-weight-bold text-sapphire">Preço Total</span>
                            <div class="mt-2 text-muted">@String.Format("{0:C}", valorTotal)</div>
                        </td>
                    </tr>
                    <tr class="border-top">
                        <td colspan="7">
                            <span class="font-weight-bold text-sapphire">Descrição</span>
                            <div class="mt-2 text-muted text-justify">@item.Descricao</div>
                        </td>
                    </tr>
                    <tr>
                        <th class="font-weight-bold text-sapphire border-top" colspan="7">Fornecimentos</th>
                    </tr>
                    @foreach (var participante in item.ParticipanteItems)
                    {
                        if (participante.ProgramacaoConsumoViewModel.Fornecimentos != null)
                        {
                            foreach (var fornecimento in participante.ProgramacaoConsumoViewModel.Fornecimentos)
                            {
                                <tr class="text-center">
                                    <td colspan="4" class="mt-2 text-justify text-muted">
                                        <span class="font-weight-bold text-sapphire">Unidade Administrativa</span>
                                        <div class="mt-2 text-muted">@participante.UnidadeAdministrativaViewModel.NomeUnidadeAdministrativa</div>
                                    </td>
                                    <td class="mt-2 text-justify text-muted">
                                        <span class="font-weight-bold text-sapphire">Sigla</span>
                                        <div class="mt-2 text-muted">@participante.UnidadeAdministrativaViewModel.Sigla</div>
                                    </td>
                                    <td class="mt-2 text-justify text-muted">
                                        <span class="font-weight-bold text-sapphire">Quantidade</span>
                                        <div class="mt-2 text-muted">@fornecimento.Consumo</div>
                                    </td>
                                    <td class="mt-2 text-justify text-muted">
                                        <span class="font-weight-bold text-sapphire">Data Fornecimento</span>
                                        <div class="mt-2 text-muted">@fornecimento.DataFornecimento</div>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        }
    }

    <div class="d-flex justify-content-center mt-4 mb-3">
        <button id="btnReportAta" class="btn btn-primary" data-codeAta="@Model.CodigoAta" data-yearAta="@Model.AnoAta">Gerar PDF</button>
    </div>
</section>
